<h1>Businesses</h1>
{{#each businesses}}
    <h2>{{this.companyName}}</h2>
    {{#each this.description}}
        {{!-- <li>Name: {{ name }} Catchphrase: {{ catchPhrase }}</li> --}}
    {{/each}}
    {{!-- <a href="/businesses/{{ this._id }}/edit">Edit</a> --}}
{{/each}}
<br>
<br>
<br>
{{!-- <a href="/movies/new">Add new movie</a> --}}