<div class="forms">
    <a class="signup-login" href="/logout">Logout</a>
</div>


<h1>Welcome {{user.username}}</h1>
<br>
<h2>Please find your profile information below</h2>

<ul>
    <li>Username: {{username}}</li>
    <li>Avatar: {{avatar}}</li>
    <li>Full Name:{{name}}</li>
</ul>
<br>
<a href="/voucher">Buy a voucher</a>
<br>
<a href="/user/company-overview">Your local Stores</a>
////
