<h1>Welcome {{this.username}}</h1>
<br>
<h2>Please find your profile information below</h2>

<ul>
    <li>Username: {{this.username}}</li>
    <li>Avatar: {{this.avatar}}</li>
    <li>Full Name:{{this.name}}</li>
</ul>
<br>
<a href="/voucher">Buy a voucher</a>

