<h1>Welcome to {{title}}</h1>
<h2>Help your local businesses in these difficult times.</h2>

<p><img src="https://res.cloudinary.com/irieljm/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:ffffff/v1606166607/supportYourLocal/hAusen_in_llzkkt.webp" alt="shop-in-berlin"width="600" height="600"></p> 

<h3>Buy a voucher now!</h3>
<a href="/login">Login</a>
<br>
<br>
<a href="/signin">Sign In</a>





