<h1>Welcome to {{title}}}</h1>
<p>Help your local businesses to survive the corona lockdown by supporting your locals. 
    Buy a voucher now!</p>
    <a href="/login">Login</a>
    <a href="/signin">Sign In</a>
