<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{SupportYourLocal}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

  <header class="header-container">
      <div class="header-left">
          <h1 class="h1-layout">Support Your Locals</h2>
          <nav class="nav-bar">
            <ul class="nav-bar-ul">
                <li><a href="/businessList">Businesses</a></li>
                <li><a href="/vouchers">Vouchers</a></li> 
                <li><a href="/index">Profile</a></li>
            </ul>
        </nav>
      </div>
          
      {{!-- <div class="forms">
        <a class="signup-login" href="/signup">Sign Up</a>
        <a class="signup-login" href="/login">Log In</a>

       </div> --}}
  </header>




  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>