<h1>Login</h1>

<h2>Login as a user</h2>

<form action="/user/login-user" method="POST">
  <label for="username">Username</label>
  <input type="text" name="username">
  <label for="password">Password</label>
  <input type="password" name="password">
  <button type="submit">Log in</button>
</form>
{{#if message}}
  <p style="color: red;">{{message}}</p>
{{/if}}

<h2>Login as a business</h2>

<form action="/business/login-business" method="POST">
  <label for="businessname">Business Name</label>
  <input type="text" name="businessname">
  <label for="password">Password</label>
  <input type="password" name="password">
  <button type="submit">Log in</button>
</form>
{{#if message}}
  <p style="color: red;">{{message}}</p>
{{/if}}